DOMAIN_NAME=paude-so.42.fr

# MYSQL SETUP
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_PASSWORD=your_mysql_password_here

# WORDPRESS SETUP
WP_ADMIN_USER=wordpress_user
WP_ADMIN_PASSWORD=wordpress_user
WP_ADMIN_EMAIL=email@paude-so.42.fr
WP_USER=user
WP_USER_PASSWORD=user
WP_USER_EMAIL=user@user.42.fr
WP_DB_HOST=mariadb